doctype html
html
    head
        include ./head/head.jade
        link(rel="stylesheet", href="/login.css")
    body
        canvas(id="blur-bg", class="blur-bg")
        div(class="login-form", id="login-form")
        script(src="/admin.min.js")